{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ JabMe Service}}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}


{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 
{% endblock %}

{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}


{% translate "If you have any questions, feedback or experience any issues, feel free to contact eayuk@hotmail.com and I will respond in 1~5 business days." %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}


{% endautoescape %}