<!--templates/registration/signup.html-->
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Sign Up NOW!{% endblock title %}

{% block content%}
<body>
<h2>Sign Up!</h2>
<form method="post">{% csrf_token %}
    {{ form | crispy }}
    <input type="checkbox" onclick="myFunction()">Show Password <br> <br>
    <button class="btn btn-success" type="submit">Sign Up</button>
</form>


<script>
    function myFunction() {
        var password1 = document.getElementById('id_password1');
        var password2 = document.getElementById('id_password2');
        if(password1.type === "password") {
            password1.type = "text";
            password2.type = "text";
        }
        else {
            password1.type = "password";
            password2.type = "password";
        }
    }
</script>
</body>

{%endblock content %} 

