<!--templates/registration/signup.html-->
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Account Verification!{% endblock title %}

{% block content %}
<body>
<h2>Verification Page</h2>
<div id="div_id_email_verified" name="email_verified" class="btn btn-secondary" >{{user.email_verified}}</div>
<div id="div_id_phone_verified" name="phone_verified" class="btn btn-secondary">{{user.phone_verified}}</div>
<div id="div_id_email_verification_status"></div>
<div id="div_id_phone_verification_status"></div>
<form id="form_id" method="post">
    <div >
    {% csrf_token %}
    {{ form|crispy }}
   </div>
    <button id="button_id_email_save" class="btn btn-success" type="submit">Submit Email Code</button>
    <button id="button_id_phone_save" class="btn btn-success" type="submit">Submit Phone Code</button>
    <button id="button_id_get_email" hx-post="/accounts/send_email_code/" hx-trigger="click" class="btn btn-primary">Get Email Verification Code</button>
    <button id="button_id_get_phone" hx-post="/accounts/send_phone_code/" hx-trigger="click" class="btn btn-primary">Get Phone Verification Code</button>
        <button id="button_id_get_phone" hx-post="/accounts/get_phone_code/" hx-trigger="click" hx-target="#button_id_get_phone" class="btn btn-primary">Get Phone Verification Code</button>
</form>

  
<script>
    //Verification Status
    let emailVerified = document.getElementById("div_id_email_verified");
    let phoneVerified = document.getElementById("div_id_phone_verified");
    let emailVerificationStatus = document.getElementById("div_id_verification_status");
    let phoneVerficationStatus = document.getElementById("div_id_phone_verification_status");
    let form = document.getElementById("form_id");
    let divEnterEmailVerificationCode = document.getElementById("div_id_enter_email_verification_code");

    var emailButton = document.getElementById("button_id_get_email");
    divEnterEmailVerificationCode.parentNode.insertBefore(emailButton, divEnterEmailVerificationCode.nextSibling);
    

    if (emailVerified.innerHTML === "True" ) {
        contactVerifyStatus.innerHTML = "Users email is verified!!!";
        form.style.display="none";

    if (phoneVerficationStatus.innerHTML === "True" ) {
        phoneVerificationStatus.innerHTML = "Users phone number is verified!!!";
        form.style.display="none";
    } else {
        emailVerificationStatus .innerHTML = "This accounts phone number need to be verified in order to use more features!";
    }
   
    //Adding verification status
    let phoneVerificationCode = document.getElementById("div_id_phone_verification_code");
    let emailVerificationCode = document.getElementById("div_id_email_verification_code");
    let emailInput = document.getElementById("id_email");
    
    emailInput.addEventListener("input", function(){
        let = emailValue = emailInput.value;
        if (emailValue === "") {
            console.log("email input this")
        } else {
            console.log("value now:"+emailValue);
        }
    });
</script>
</body>
{% endblock content %} 